.top_border {
  border-top-style: solid;
  border-width: 2px;
  border-color: #129490;
  width: 100%;
}

.nav_styles {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

li {
  margin-top: 0.5rem;
}

.float_left {
  float: left;
  font-size: 2rem;
  margin-left: 1rem;
}

.float_right {
  float: right;
  font-size: 1.3rem;
  margin-right: 1rem;
  margin-top: 1.5rem;
}

i:hover {
  color: #129490;
}

.menu_link {
  color: black;
}

.menu_link:hover {
  color: #129490;
}

@media (max-width: 630px) {
  .float_left {
    font-size: 2rem;
  }
  .float_right {
    font-size: 1rem;
  }
}
